/* You can add global styles to this file, and also import other style files */

// TODO fix styling and positioning of snackbar
.custom-snackbar {
    background-color: green;
    color: white;
  }

  .cdk-overlay-container {
    position: fixed;
    z-index: 1000;
  }
