<div class="cart-container">
  <h2>Your Shopping Cart</h2>
  <div *ngIf="(products$ | async)?.length === 0" class="empty-cart">
    Your cart is empty.
  </div>
  <ng-container *ngIf="products$ | async as products">
    <div *ngIf="products.length > 0" class="cart-items">
      <div *ngFor="let item of (products$ | async)" class="cart-item">
        <div class="item-details">
          <div class="item-content">
            <img [src]="item.imageSrc" alt="Product Image">
            <h3>{{ item.title }}</h3>
            <p>{{ item.price * item.quantity| currency:'EUR' }}</p>
            <div class="quantity-input">
              <button id="minus-button" (click)="decreaseQuantity(item)">-</button>
              <p>{{item.quantity}}</p>
              <button id="plus-button" (click)="increaseQuantity(item)">+</button>
            </div>
            <button id="remove-button" (click)="removeItemFromCart(item)">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="cart-total">
        <h3>Total: {{ (cartTotalPrice$ | async) | currency:'EUR'}}</h3>
        <button *ngIf="showCheckoutButton" (click)="GoToCheckout()">Checkout</button>
      </div>
    </div>
  </ng-container>
</div>