h2 {
    color: #333;
}

#remove-button {
    background-color: white;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#remove-button:hover {
    background-color: red;
}

p {
    margin: 10px 0;
}

// item content
.item-content {
    display: flex;
    align-items: center;
}

.item-content>img {
    margin-right: 20px;
}

.item-content>h3 {
    padding: 10px;
    width: 200px;
    height: 50px;
    text-align: left;
    // border-right: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: start; 
}

.item-content >p {
    // border-right: 1px solid #ddd;
    width: 100px;
    padding: 10px;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.item-content > button {
    margin-left: 30px;
}

.quantity-input {
    height: 50px;
    width: 100px;
    // border-right: 1px solid #ddd;
    padding: 10px;
    padding-right: 40px;
    padding-left: 40px;
    display: flex;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.quantity-input p {
    margin-left: 20px;
    margin-right: 20px;
    order: 2;
}

.quantity-input button {
    padding: 5px 10px;
    background-color: lightgray;
    color: #474444;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
}

.quantity-input #plus-button {
    order: 3;
}

.quantity-input #minus-button {
    order: 1;
}

// end item content

.cart-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.empty-cart {
    color: #888;
}

.cart-items {
    margin-top: 20px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.item-details {
    display: flex;
    align-items: center;
}

img {
    max-width: 80px;
    margin-right: 10px;
}

.item-info h3 {
    margin: 0;
    color: #333;
}


.cart-total {
    margin-top: 20px;
    text-align: right;
}

h3 {
    color: #333;
}