    <!-- Navigation -->
    <nav>
        <ul>
            <li><a [routerLink]="['/home']">Home</a></li>
            <li><a [routerLink]="['/products']">Products</a></li>
            <li><a [routerLink]="['/about']">About</a></li>
            <li><a href="#">Contact</a></li>
            <li *ngIf="!isLoggedIn()"><a [routerLink]="['/login']" class="login-link">Login</a></li>
            <li *ngIf="!isLoggedIn()"><a [routerLink]="['/register']" class="register-link">Register</a></li>
            <li *ngIf="isLoggedIn()"><a [routerLink]="['/account']" class="account">Account Details</a></li>
            <li><a href="#" class="shopping-cart-link" (click)="toggleCart(); $event.preventDefault()">
                <i class="fa fa-shopping-cart"></i>
            </a></li>
        </ul>
    </nav>
    <app-shopping-cart *ngIf="isCartOpen$ | async"></app-shopping-cart>
<router-outlet></router-outlet>
