 /* Reset some default styles */
 body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 32px;
}

/* Navigation styles */
nav {
    background-color: #444;
    padding: 10px;
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

/* Main content styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Featured products section styles */
.featured-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.product {
    width: 30%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

.product img {
    max-width: 100%;
}

.product h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.product p {
    font-size: 16px;
    margin-bottom: 10px;
}

.product button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}


/* css for the shopping-cart */

// /* home.component.css */
// .home-container {
//     position: relative;
//   }
  
  .cart-icon {
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  app-shopping-cart {
    position: absolute;
    top: 40px; /* Adjust this value to control the space between the icon and the card */
    right: 10px;
    width: 300px; /* Adjust the width as needed */
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 100;

    // display: none;
  }


/* Responsive styles */
@media (max-width: 768px) {
    .product {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .product {
        width: 100%;
    }
}