 /* Reset some default styles */
 h1,
 h2,
 h3,
 p,
 ul,
 li {
     margin: 0;
     padding: 0;
     list-style: none;
 }


 /* Header styles */
 header {
     background-color: #333;
     color: #fff;
     padding: 10px;
     text-align: center;
 }

 h1 {
     margin: 0;
     font-size: 32px;
 }

 /* Main content styles */
 .container {
     font-family: Arial, sans-serif;
     max-width: 1200px;
     margin: 0 auto;
     padding: 20px;
 }

 /* Featured products section styles */
 .featured-products {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     margin-top: 20px;
 }

 .product-item {
     width: 30%;
     margin-bottom: 20px;
     border: 1px solid #ccc;
     padding: 10px;

     text-decoration: none;
     color: inherit;
     display: block;

     &:hover {
         box-shadow: 0 0 5px 2px #ccc;
         background-color: #f0f0f0;
         cursor: pointer;
     }
 }



 footer {
     background-color: #333;
     color: #fff;
     text-align: center;
     padding: 10px;
     margin-top: 30px;
     border-radius: 10px;
 }

 .cart-icon {
     font-size: 24px;
     cursor: pointer;
     position: absolute;
     top: 10px;
     right: 10px;
 }

 app-shopping-cart {
     position: absolute;
     top: 40px;
     /* Adjust this value to control the space between the icon and the card */
     right: 10px;
     width: 300px;
     /* Adjust the width as needed */
     background-color: white;
     border: 1px solid #ccc;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
     z-index: 100;
     // display: none;
 }

 .search-bar {
    display: flex; // Make .search-bar a flex container
    justify-content: center; // Center align the items horizontally
    align-items: center; // Center align the items vertically
    margin-top: 20px;
    margin-bottom: 20px;
}

.search-input {
    flex-grow: 1;
    padding: 8px;
    font-size: 16px;
    border-radius: 10px 0 0 10px;
    border: 1px solid #ccc;
    border-right: none;
}

.search-button {
    background-color: #ccc; // Set the background color to be the same as the border color of the search-input
    color: #333; // Set the text color to be dark for contrast
    border: none;
    padding: 8px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    border: 1px solid #ccc;
    border-left: none;
}

 /* Responsive styles */
 @media (max-width: 768px) {
     .product-item {
         width: 45%;
     }
 }

 @media (max-width: 480px) {
     .product-item {
         width: 100%;
     }
 }