<div class="container">
    <div class="search-bar">
        <input type="text" class="search-input" placeholder="Search for products..." [(ngModel)]="searchString"
            (keydown.enter)="searchProducts(searchString)">
        <button (click)="searchProducts(searchString)" class="search-button">
            <i class="fa fa-search"></i>
        </button>
    </div>
    <h2>Featured Products</h2>
    <div class="featured-products">
        <a class="product-item" *ngFor="let product of (products$ | async)">
            <app-product [product]="product" [routerLink]="['/item', product.id]"></app-product>
            <button (click)="addToCart(product)">Add to Cart</button>
        </a>
    </div>
</div>

<footer>
    <p>&copy; 2024 WWWinkel. All rights reserved.</p>
    <p>Terms of Service: Let the buyer beware.</p>
    <p>Privacy Policy: We will sell your data to anyone.</p>
</footer>