<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generic Webshop</title>
</head>

<body>
    <!-- Header -->
    <header>
        <h1>Generic Webshop</h1>
    </header>

    <!-- Main content -->
    <div class="container">
        <h2>Featured Products</h2>
        <div class="featured-products">
            <div class="product" *ngFor="let item of randomItems">
                <img src={{item.imageSrc}} alt="Product 1" [routerLink]="['/item', item.id]">
                <h3>{{item.title}}</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <button (click)="addToCart(item)">Add to Cart</button>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <p>&copy; 2023 Generic Webshop. All rights reserved.</p>
    </footer>
</body>

</html>