<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generic Webshop</title>
</head>

<body>

    <header>
        <h1>Generic Webshop</h1>
    </header>

    <div class="container">
        <div class="search-bar">
            <input type="text" class="search-input" placeholder="Search for products..." [(ngModel)]="searchString" (keydown.enter)="searchProducts(searchString)">
            <button (click)="searchProducts(searchString)" class="search-button">Search</button>
        </div>
        <h2>Featured Products</h2>
        <div class="featured-products">
            <a class="product-item" *ngFor="let product of (products$ | async)">
                <app-product [product]="product" [routerLink]="['/item', product.id]"></app-product>
                <button (click)="addToCart(product)">Add to Cart</button>
            </a>
        </div>
    </div>

    <footer>
        <p>&copy; 2023 Generic Webshop. All rights reserved.</p>
    </footer>
</body>

</html>