<div *ngIf="(order$ | async) as order">

    <div>
        <h1>Order Received</h1>
    
        <p>Name: {{ order.name }}</p>
        <p>Address: {{ order.address }}</p>
        <p>City: {{ order.city }}</p>
        <p>Zip Code: {{ order.zipCode }}</p>
    
        <h2>Your Products</h2>
        <ul>
            <li *ngFor="let product of order.products">
                {{ product.title }} - {{ product.price }}
            </li>
        </ul>
    </div>

</div>

<div *ngIf="(order$ | async) === null">
    <p>No order found.</p>
</div>


