<div class="container">
    <div class="login-container">
        <h2>Login</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="input-group">
                <input type="text" placeholder="Email" formControlName="email" required>
            </div>
            <div class="input-group">
                <input type="password" placeholder="Password" formControlName="password" required>
            </div>
            <div class="input-group">
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
</div>
