img {
    width: auto;
    height: 200px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

p {
    font-size: 16px;
    margin-bottom: 10px;
}