<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
</head>

<body>
    <div class="register-container">
        <h2>Register</h2>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="input-group">
                <input type="text" placeholder="Email" formControlName="email" required>
            </div>
            <div class="input-group">
                <input type="password" placeholder="Password" formControlName="password" required>
            </div>
            <div class="input-group">
                <input type="password" placeholder="Repeat password" formControlName=" repeatPassword" required>
            </div>
            <div class="input-group">
                <button type="submit">Register</button>
            </div>
        </form>
    </div>
</body>

</html>
