<div class="product-form-container">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <label for="title">Title:</label>
        <input type="text" id="title" formControlName="title" required>

        <label for="description">Description:</label>
        <textarea id="description" formControlName="description" rows="4" required></textarea>

        <label for="price">Price:</label>
        <input type="number" id="price" formControlName="price" step="0.01" required>

        <label for="availability">Availability:</label>
        <input type="number" id="availability" formControlName="availability" required>

        <label for="image">Image:</label>
        <input type="file" id="image" (change)="onFileSelect($event)" accept="image/*" required>

        <button type="submit" [disabled]="productForm.invalid">Add Product</button>
    </form>
</div>