<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generic Webshop</title>
</head>

<body>
    <!-- Header -->
    <header>
        <h1>Generic Webshop</h1>
    </header>

    <!-- Navigation -->
    <nav>
        <ul>
            <li><a [routerLink]="['/home']">Home</a></li>
            <li><a [routerLink]="['/products']">Products</a></li>
            <li><a [routerLink]="['/about']">About</a></li>
            <li><a href="#">Contact</a></li>
            <a href="#" class="shopping-cart-link" (click)="toggleCart(); $event.preventDefault()">
                <i class="fa fa-shopping-cart"></i>
            </a>
        </ul>
    </nav>

    <!-- Main content -->
    <div class="container">
        <app-shopping-cart *ngIf="isCartOpen"></app-shopping-cart>

        <h2>Featured Products</h2>
        <div class="featured-products">
            <div class="product">
                <img src="../../assets/images/balloon.png" alt="Product 1">
                <h3>Product 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <button>Add to Cart</button>
            </div>
            <div class="product">
                <img src="../../assets/images/pizza.jpg" alt="Product 2">
                <h3>Product 2</h3>
                <p>Phasellus vestibulum lorem sed elit luctus, eu mollis magna iaculis.</p>
                <button>Add to Cart</button>
            </div>
            <div class="product">
                <img src="../../assets/images/shoe.jpg" alt="Product 3">
                <h3>Product 3</h3>
                <p>Curabitur a neque id felis luctus euismod.</p>
                <button>Add to Cart</button>
            </div>
        </div>
    </div>

    <!-- Shopping Cart -->

    <!-- Footer -->
    <footer>
        <p>&copy; 2023 Generic Webshop. All rights reserved.</p>
    </footer>
</body>

</html>

